/* COMMON */

/* Tag */
body {
  font-family: 'Open Sans', sans-serif;
  min-width: 1050px;
}
section {
  padding: 40px 0;
}
h1 {
  font-size: 50px;
  margin-bottom: 25px;
}
h2 {
  font-size: 40px;
}
h3 {
  font-size: 30px;
  margin-bottom: 10px;
}
h5 {
  font-size: 20px;
  margin-bottom: 10px;
}
p {
  font-size: 18px;
  margin: 20px 0;
}
ul {
  list-style-type: none;
}
a {
  font-size: 12px;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}

/* Class */
.stripe {
  height: 70px;
  line-height: 70px;
}
.cta {
  font-size: 18px;
}
.cta::after{
  content: '>';
  margin-left: 10px;
}
.inline-list li {
  display: inline;
}

/* color */
.white {
  color: white;
}

/* text */
.center {
  text-align: center;
}
.smaller {
  font-size: 15px;
  margin: 0;
}
/* END COMMON */


/* HEADER */

/* Navigation */
header nav a {
  color: black;
  padding: 10px;
  text-transform: uppercase;
}
#logo {
  padding: 0 10px;
}
.menu {
  text-align: right;
}
.languages li {
  border-right: 1px solid black;
}
.languages li:last-child {
  border-right: none;
}

/* Hero */
.hero {
  height: 550px;
  position: relative;
  background-image: url(../img/hero-bg.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.slogan {
  width: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate( -50%, -50% );
}
/* END HEADER */

/* MAIN */

/* Products */
#products p {
  font-size: 20px;
}
#products img {
  width: 100%;
}
#products [class*="col-"]:first-child {
  padding-right: 20px;
}
#products [class*="col-"]:last-child {
  padding-left: 20px;
}
.item {
  padding-top: 50px;
  background-color: #fafafa;
}
/* end Products */

/* Work */
#work {
  height: 400px;
  padding-top: 80px;
  margin-bottom: 300px;
  background-image: url(../img/HelbizBanner.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
#work img {
  width: 100%;
}
#work [class*="col-"] {
  height: 600px;
}
#work [class*="lateral"] {
  position: relative;
}
#work [class*="lateral"] > * {
  position: absolute;
  bottom: 120px;
}
.steps {
  margin-bottom: 30px;
}
/* end Work */

/* Info */

/* layout */
#info [class*="col-"] {
  height: 450px;
}
#info .container:nth-child(2) [class*="col-"]:first-child {
  padding-right: 20px;
  overflow: hidden;
}
#info .container:nth-child(2) > [class*="col-"]:last-child {
  padding-left: 20px;
}
#info .container:nth-child(2) .text {
  padding-top: 40px;
}

/* smart */
.smart {
  background-image: url(../img/ScooterHelbiz-2400.jpg);
  background-size: cover;
  margin-bottom: 40px;
}
.smart [class*="col-"] {
  height: 100%;
  position: relative;
}
.smart [class*="col-"] > .text {
  width: 100%;
  padding: 0 130px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate( -50%, -50% );
}

/* app */
.app {
  height: 100%;
  background-image: linear-gradient(to top, #253039, #2b3944, #324250, #394b5d, #405569);
}
.app .os li {
  margin-right: 10px;
}
.app img {
  width: 100%;
}

/* cities */
.cities {
  height: 100%;
  background-image: url(../img/Cities.jpg);
  background-size: cover;
}
/* end Info */

/* Social */
#social {
  height: 400px;
  margin-bottom: 40px;
  background-image: url(../img/Social-Banner.jpg);
  background-position: center;
  background-size: cover;
  position: relative;
}
.family {
  padding: 50px 130px;
  background-color: white;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate( -50%, -50% );
}
.family .social li {
  margin-right: 20px;
}
.family .social a {
  color: black;
  font-size: 30px;
}
/* END MAIN */

/* FOOTER */
footer {
  padding: 50px 200px;
  background-color: black;
}
footer a {
  font-size: 15px;
}
footer hr {
  border-color: gray;
}

/* link */
.link h5 {
  margin-bottom: 20px;
}
.link li {
  margin-bottom: 10px;
}
.link a {
  color: gray;
}

/* About */
#about .social li a {
  font-size: 20px;
  margin-right: 10px;
}
/* END FOOTER */


/* MEDIA QUERY */

/* 768px ≤ Media Query < 992px */
@media all and ( min-width: 768px ) and ( max-width: 991px ) {

  /* COMMON */
  body {
    min-width: 830px;
  }
  h1 {
    font-size: 40px;
    margin-bottom: 20px;
  }
  h2 {
    font-size: 30px;
  }
  .container {
    max-width: 900px;
  }
  .stripe {
    height: 60px;
    line-height: 60px;
  }

  /* HEADER */
  .hero {
    height: 380px;
  }
  .hero img {
    width: 120px;
  }

  /* MAIN */

  /* Products */
  #products p {
    font-size: 18px;
  }
  #products [class*="col-"]:first-child {
    padding-right: 15px;
  }
  #products [class*="col-"]:last-child {
    padding-left: 15px;
  }
  .item {
    padding-top: 20px;
    box-shadow: 5px 5px 10px #cccccc;
  }
  /* Work */
  #work {
    height: 350px;
    padding-top: 60px;
    background-position: -100px;
  }
  #work img {
    width: 80%;
  }
  #work [class*="col-"] {
    height: 450px;
  }
  #work [class*="col-"]:first-child {
    padding-left: 10px;
  }
  #work [class*="lateral"] > * {
    bottom: 30px;
  }
  .steps {
    margin-bottom: 20px;
  }

  /* Info */
  #info [class*="col-"] {
    height: 350px;
  }
  #info .container:nth-child(2) [class*="col-"]:first-child {
    padding-right: 10px;
  }
  #info .container:nth-child(2) > [class*="col-"]:last-child {
    padding-left: 10px;
  }
  #info .container:nth-child(2) .text {
    padding: 30px 10px;
  }

  /* smart */
  .smart {
    margin-bottom: 20px;
  }
  .smart [class*="col-"] > .text {
    padding: 0 80px;
  }

  /* Social */
  #social {
    height: 350px;
    margin-bottom: 40px;
  }
  .family {
    padding: 35px 100px;
  }
  .family .social li {
    margin-right: 15px;
  }
  /* END MAIN */

  /* FOOTER */
  footer {
    padding: 40px 80px;
  }

  /* About */
  #about .social li a {
    font-size: 16px;
  }
}

/* Media Query < 768px */
@media all and ( max-width: 767px ) {

  /* COMMON */
  .container {
    max-width: 600px;
  }
  body {
    min-width: 500px;
  }
  .stripe {
    height: 100px;
    line-height: 50px;
  }
  .cta {
    font-size: 17px;
  }

  /* HEADER */
  header nav {
    position: relative;
  }
  .languages {
    position: absolute;
    top: 0;
    right: 0;
  }
  .hero {
    height: 400px;
    background-position: -100px;
    background-size: cover;
  }
  .filter {
    height: 100%;
    background-color: rgba(0, 0, 0, 0.2);
  }
  .hero img {
    width: 130px;
  }
  .slogan {
    padding: 0 20px;
  }
  /* MAIN */

  /* Products */
  #products img {
    width: 70%;
  }
  #products [class*="col-"]:first-child {
    padding-right: 0;
    margin-bottom: 50px;
  }
  #products [class*="col-"]:last-child {
    padding-left: 0;
  }
  .item {
    padding: 15px 5px 0;
    box-shadow: 10px 10px 20px #dddddd,
                -10px 10px 20px #dddddd,
                10px -10px 20px #dddddd,
                -10px -10px 20px #dddddd;
  }

  /* Work */
  #work {
    background-position: -200px;;
  }
  #work [class*="col-"] {
    height: 500px;
  }
  #work [class*="col-"]:first-child {
    padding-left: 10px;
  }
  #work [class*="lateral"] > * {
    bottom: 60px;
  }
  .steps {
    margin-bottom: 0;
  }
  /* Info */
  #info [class*="col-"] {
    height: 400px;
  }
  #info .container:nth-child(2) [class*="col-"]:first-child {
    padding-right: 0;
    margin-bottom: 20px;
  }
  #info .container:nth-child(2) > [class*="col-"]:last-child {
    padding-left: 0;
  }
  .smart {
    background-size: 400%;
    background-position: -650px;
    margin-bottom: 20px;
  }
  .smart [class*="col-"] {
    background-color: rgba(0, 0, 0, 0.4);
  }
  .smart [class*="col-"] > .text {
    padding: 0 50px;
  }
  .app {
    padding: 0 50px;
  }

  /* Social */
  #social {
    height: 300px;
    margin-bottom: 40px;
  }
  .family {
    padding: 25px 60px;
  }
  .family .social li {
    margin-right: 15px;
  }
  /* END MAIN */

  /* FOOTER */
  footer {
    padding: 20px 50px;
  }
  footer .logo {
    margin-bottom: 30px;
  }
  .link [class*="col-"] {
    margin-bottom: 30px;
  }

  /* About */
  #about {
    text-align: center;
  }
  #about .social {
    margin-bottom: 20px;
  }
}
/* END MEDIA QUERY */
